Source: partman-reiser4
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Anton Zinoviev <zinoviev@debian.org>
Build-Depends: debhelper (>= 9), dh-di, po-debconf (>= 0.5.0)
Vcs-Browser: http://git.debian.org/?p=d-i/partman-reiser4.git
Vcs-Git: git://git.debian.org/d-i/partman-reiser4.git

Package: partman-reiser4
Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}, mkreiser4-udeb, reiser4progs-udeb, reiser4-modules, partman-basicfilesystems (>= 59), partman-base (>= 124)
Provides: partman-filesystem
Description: Add reiser4 file system support to partman
